<div class="container-fluid vh-100 body_bg">
<nav class="navbar bg-body-tertiary body_bg shadow">
  <div class="container-fluid">
    <a class="navbar-brand">Home page</a>
    <form class="d-flex" role="search"  action="/logout" method="post" >
      <button class="btn btn-danger" type="submit">Log Out</button>
    </form>
  </div>
</nav><h1>Welcome, {{userName}}!</h1>
</div>
